<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link href="{% static 'css/signIn.css' %}" rel="stylesheet" type="text/css"/>
    <title>Daddy를 Dandy하게</title>
    <link rel="icon" href="{% static 'img/logo-new.png' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400&family=Poppins:ital,wght@1,800&display=swap" rel="stylesheet">
</head>
<body>
    <div style="height:100%;">
        <header>
            <a href="{% url 'home' %}">
                <img class="top-logo" src="{% static 'img/logo-new.png' %}" alt="instagramText">
                </a>
        </header>
        <div style="display:flex; width:100%; height:100vh;">
            <div class="left_container">
                <h1 class="left-title"><span class="eng">Daddy</span>를<br> <span class="eng" style="color:rgb(0,255,255);">Dandy</span>하게</h1>
                <h3 class="left-subtitle">아버지를 위한 맞춤 스타일링</h3>
            </div>
    <div class="signIn_container">
        <h2 class="joinLetter">비밀번호 찾기</h2>
        {% if messages %}
        {% for message in messages %}
        <span id="message">{{message}}</span>
        {% endfor %}
        {% endif %}
        <form action="{% url 'findPwd' %}" method="POST" id="login-form">
        {% csrf_token %}
        <input type="hidden" name="next" value="{% url 'findPwd' %}">
        <p class="signInIndex">이름</p>
        <input type="text" class="userSignIn" name='find_username' placeholder="이름을 입력해주세요." required>
        <p class="signInIndex">아이디 (이메일)</p>
        <input type="text" class="userSignIn" name='email' placeholder="아이디(이메일)을 입력해주세요." required>
        <p class="signInIndex">전화번호</p>
        <input type="text" class="userSignIn" name='phone' placeholder="전화번호를 입력해주세요 010-1111-1111" minlength="10" required>      
        <button id="loginButton">비밀번호 찾기</button>
    </form>
    </div>
    </div>
    </div>
</body>
</html>