html, body{
    margin:0;
    padding:0;
    height:100%;
}

header{
    height:60px;
    background-color: white;
    border-bottom:1px solid black;
    width: 100%;
    z-index:9999;
    display: inline-block;
    margin:none;
    position:fixed;
}

.top-logo{
    height:45px;
    object-fit: cover;
    margin-left:30px;
    margin-top:8px;
}

.left_container{
    width:50%;
    background-color: rgb(23, 23, 61);
}

.left-title{
    font-family:'Noto Sans KR',sans-serif;
    font-size:60px;
    margin-top:200px;
    margin-left:180px;
    color:white;
    line-height: 75px;
}

.left-subtitle{
    font-family:'Noto Sans KR',sans-serif;
    font-size:18px;
    margin-left:180px;
    color:rgb(172, 169, 169);
    font-weight: 300;
    margin-top:-15px;
}

.eng{
    font-family: 'Poppins', sans-serif;
    font-weight:600;
  }

  .joinLetter{
    font-family:'Noto Sans KR',sans-serif;
    font-size:22px;
  }

  
.signIn_container{
    display:flex;
    flex-grow:1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border:1px solid rgb(197, 195, 195);
    background-color: white;
    padding-top:50px;
}

.signIn_container .userSignIn {
    display:flex;
    width: 300px;
    padding: 13px 0 13px 13px;
    background-color: rgb(248, 248, 248);
    border: 1.5px solid rgb(197, 195, 195);
    margin-bottom: 8px;
}

.signIn_container .signInIndex{
    font-size: 13px;
    margin-bottom:2px;
    font-family:'Noto Sans KR',sans-serif;
}

.signIn_container .joinLetter{
    text-align: center;
    color:rgb(0, 0, 0);
    margin-top:none;
    border-top:none;
    font-family:'Noto Sans KR',sans-serif;
    margin-bottom:50px;
}

#loginButton {
    width:315px;
    background-color: rgb(101, 210, 224);
    color: white;
    padding-top:10px;
    padding-bottom: 10px;
    margin-top: 15px;
    border:none;
    font-family:'Noto Sans KR',sans-serif;
    cursor:pointer;
}

#loginButton:hover{ /*버튼 색변화*/
    background-color: rgb(0,255,255);
}

#find_container{
    width:220px;
    display:flex;
    margin-top:10px;
    justify-content:space-between;
}

.findBtn{
    background-color: white;
    color: rgb(78, 78, 82);
    font-weight:bold;
    font-size:70%;
    border:none;
    font-family:'Noto Sans KR',sans-serif;
    border-bottom:1px solid rgb(78, 78, 82);
    cursor:pointer;
}


.joinDandy {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: 400px;
    margin-top:50px;
    font-family:'Noto Sans KR',sans-serif;
}

.joinBtn {
    background-color: white;
    color: rgba(44, 44, 238, 0.74);
    font-weight:bold;
    font-size:90%;
    border:none;
    font-family:'Noto Sans KR',sans-serif;
    cursor:pointer;
    color: rgba(0,255,255);
}