.body {
    margin: 0;
    padding: 0;
}

/* ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */
  /* Navbar */
.navbar {
    display: flex;
    align-items: center;
    padding: 0px 12px;
    height: 60px;

    background-color: white;
    border: 1px solid;
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    border-bottom-color: #e5e8eb;
}


  /* Dandy 로고 */
.navbar_logo {
    margin-left: 200px;
}

.nav_li{
    width:max-content;
}

  /* Navbar 목록 */
a {
    text-decoration: none;
    color: #333d4b;
}

.navbar_menu {
    margin-left: 50px;
    margin-right: 200px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.navbar_menu {
    display: flex;
    list-style: none;
    padding-left: 0;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 14px;
}

.navbar_menu li {
    padding: 8px 12px;
    margin-right: 12px;
}

.navbar_menu li:hover {
    background-color: #e5e8eb;
    border-radius: 4px;
}

  /* Navbar 회원가입,로그인,마이페이지 */
.navbar_user {
    display: flex;
    list-style: none;
    margin-top: 16px;
    margin-left: auto;
    margin-right: 200px;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 16px;
}

.navbar_user li {
    padding: 8px 8px;
}



/* ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */
/* 헤더 */
.header {
    position: relative;
}

/* 헤더 이미지 */
.header img {
    width: 100%;
}

.header_text {
    position: absolute;
    top: 15%;
    left: 10%;
}

/* 헤더 텍스트 */
.header_text h2 {
    font-size: 34px;
    color: #f9fafb;
    font-family: 'Noto Sans KR', sans-serif;
    margin-bottom: 10px;
}

.header_text span {
    font-size: 20px;
    color: #e5e8eb;
    font-family: 'Noto Sans KR', sans-serif;
}


/* ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */
/* 메인 */

.main{
    display:flex;
    flex-grow:1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.stylist_border {
    border-style: solid;
    border-top: white;
    border-left: white;
    border-right: white;
    border-bottom: black;
    cursor:pointer;
}

.stylist_list:hover{
    border-bottom:none;
    border:2px solid rgba(0,255,255);
}

.stylist_list img {
    border-radius: 20%;
}

.stylist_list h5 {
    text-align: left;
    font-family: sans-serif;
    color: #191f28;
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 0px;
    margin-left: 20px;
}

.style1 li{
    list-style: none;
    float: left;
}

.stylist_star {
    margin-top: 10px;
    margin-left: -18px;
}


.stylist_money {
    margin-top: 10px;
    margin-left: 20px;
}

.stylist_style img {
    margin-left: 20px;
}

.stylistBtn {
    align-items: center;
    margin-bottom: 10px;
    background-color: white;
    width: 1000px;
    border: 1px solid white;
    border-top: white;
    border-left: white;
    border-right: white;
    border-bottom-color: #e5e8eb;
    border-width: 0.5px;
    box-shadow: white;
}

#match-btn{
    width:315px;
    background-color: rgb(101, 210, 224);
    color: white;
    padding-top:10px;
    padding-bottom: 10px;
    margin-top: 15px;
    border:none;
    font-family:'Noto Sans KR',sans-serif;
    cursor:pointer;
}