<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>this is a mypage</h1>
    {% if user.is_authenticated %}
        <h1>Hello, username: {{user.username}}</h1>
        <a href="{% url 'logout' %}">
            <button class="logoutbutton">로그아웃</button>
        </a>
    {%else%}
        <!--authenticate false면, views 에서 login으로 redirect-->
    {% endif %}

</body>
</html>