#loading {
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  position: fixed;
  display: block;
  opacity: 0.7;
  background-color: #fff;
  z-index: 99;
  text-align: center;
}

#loading-image {
  align-items: center;
  position: absolute;
  top: 30%;
  left: 45%;
  z-index: 100;
}

.text {
  position: absolute;
  text-align: center;
  margin-left: 625px;
  margin-top: 400px;
}
