*,
:after,
:before {
  box-sizing: border-box;
}

.profile-image {
  position: relative;
  width: 6.25rem;
  height: 6.25rem;
  margin: 0 auto;
}

div {
  display: block;
}

body {
  margin: 0;
  font-family: Noto Sans KR, Malgun Gothic, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji,
    Segoe UI Symbol, Noto Color Emoji;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #323232;
  text-align: left;
  background-color: #fff;
}

#app-body {
  opacity: 1;
  position: relative;
  flex-grow: 1;
  transition: opacity 0.3s ease-in;
}

.container-fluid.container-md,
.container-md,
.container.container-md {
  max-width: 630px;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

header,
main,
nav,
section {
  display: block;
}

h1 {
  line-height: 50px;
  font-size: 2.125rem;
  font-weight: 500;
  color: #323232;
  margin: 3rem 0;
  display: block;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.h1,
h1 {
  letter-spacing: -0.04375rem;
}

.user-profile-picture {
  position: relative;
}

.user-profile-picture div[data-name="image"] {
  position: relative;
  /* width: 100%;
  height: 100%; */
  overflow: hidden;
  background-size: cover;
  background-position: 50% 50%;
}

.account-info {
  margin-bottom: 3rem;
}

ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

section {
  font-size: 1rem;
}

.item-container {
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 1rem 0 1rem 0.5rem;
  border-bottom: 1px solid #f2f2f2;
}

ul li {
  list-style: none;
}

li {
  text-align: -webkit-match-parent;
}

.item {
  flex: 1;
  color: #323232;
}

.item-container {
  cursor: pointer;
}

.item-title {
  color: #b5b5b5;
}

.item-info {
  padding-top: 0.25rem;
}

a {
  color: #323232;
  text-decoration: none;
  background-color: transparent;
}

ul.account-info {
  list-style-type: disc;
}
